@tailwind base;
@tailwind components;
@tailwind utilities;



:main {
  font-family: Red Hat Text;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.menu {
  height:100%;
  background-image:url("./assets/images/hero-image.png");
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
}

