@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: Red Hat Text;
  line-height: 1.5;
  font-weight: 400;
  background-color: hsl(20, 50%, 98%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
